<div class="game" *ngIf="gameStateManager.loadingFinished">
  <h6 style="color:white; position: absolute; top: 100px"> X: {{ mouseController?.hoveringPosX }}</h6>
  <h6 style="color:white; position: absolute; top: 115px"> Y: {{ mouseController?.hoveringPosY }}</h6>
  <h6 style="color:white; position: absolute; top: 130px"> Cell: {{ mouseController?.hoveringCellId }}</h6>
  <h6 style="color:white; position: absolute; top: 145px"> Cell: {{ mouseController?.hoveringSpriteTileCell?.id }}</h6>
  <h1 style="color:white; position: absolute; top: 300px">{{selected}}</h1>
  <div>
    <gm-editor-side-nav></gm-editor-side-nav>
  </div>
  <div class="game-view">
    <gm-canvas></gm-canvas>
  </div>
</div>