#game-canvas {
  width: 100%;
  height: 100%;  

  #canvas-container {
    margin: auto;
    margin-top: 10px;
  }
}

canvas {
    // border: 25px solid rgb(107, 70, 35, .5);
    position: absolute;
    display: block;
    
  }